{% extends 'base.html.twig' %}

{% block title %}
    {{ post.announce }}
{% endblock  %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6 col-lg-offset-3">
                <a href="{{ path('acme_news_catalog') }}">
                    <button type="button" class="btn btn-primary btn-block">BACK TO ALL NEWS</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                {{ include('AcmeNewsBundle:Post:itemInSinglePage.html.twig', { 'item': post }) }}
            </div>
        </div>
    </div>
{% endblock %}
